/* >> reset */
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol li {
  margin: 0;
  list-style: -moz-ethiopic-numeric;
}

a {
  text-decoration: none;
}
a:focus, a:active, a:hover, a:visited {
  text-decoration: none;
}
a[href] {
  outline: 0 none;
}
a[href]:active, a[href]:visited {
  outline: 0 none;
}
a[href]:hover, a[href]:focus {
  color: #333 !important;
}

/* << reset */
/* page style */
.page {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Audio Player */
.player-wrap {
  position: relative;
  padding: 0;
  background-color: #222;
  transition: all .35s;
}
.player-wrap.enabled {
  padding: 3em;
  background: url("https://i.imgur.com/uS3puRZ.jpg") no-repeat;
  background-size: cover;
  transition: all .35s;
}
.player-wrap .button {
  float: left;
  display: none;
  margin: 1.5em 2em;
  width: 5em;
  height: 5em;
  background-color: #f95701;
  color: #ffffff;
  line-height: 5em;
  text-align: center;
  border-radius: 25%;
  transition: all .35s;
}
.player-wrap .button:hover {
  color: #ffffff !important;
  cursor: pointer;
  transition: all .35s;
}
.player-wrap .button .playpause:hover{
  background: none;
  transition: all .35s;
}
.player-wrap.enabled .button {
  display: block;
  transition: all .35s;
}
.player-wrap .button > .playpause{
  /*color: red;*/
  position: relative;
  width: 100%;
  margin: auto;
  padding: 20px;
  left: .2em;
  transition: all .35s;
}
.player-wrap .info {
  margin-left: 10em;
}
.player-wrap .action {
  font-style: italic;
}
.player-wrap .player {
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  padding: 0 1em 0 8em;
  width: 100%;
  height: 1em;
  color: #f95701;
  background-color: #333;
  font-size: 2em;
  box-sizing: border-box;
  transition: all .35s;
}
.player-wrap.enabled .player {
  display: block;
  transition: all .35s;
}
.player-wrap .player svg {
  margin: 0.25em;
  width: 0.5em;
  height: 0.5em;
  fill: currentColor;
  transition: all .35s;
}
.player-wrap .player div {
  display: block;
  height: 1em;
  transition: all .35s;
}
.player-wrap audio, .player-wrap .player .pause {
  display: none;
}
.player-wrap .playpause, .player-wrap .timer, .player-wrap .prev, .player-wrap .next {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 1em;
  line-height: 1em;
  vertical-align: top;
  text-align: center;
  transition: all .35s;
}
.player-wrap .playpause, .player-wrap .prev, .player-wrap .next {
  width: 1em;
  cursor: pointer;
}
.player-wrap .playpause {
  left: 1em;
}
.player-wrap .next {
  left: auto;
  right: 0;
}
.player-wrap .playpause:hover, .player-wrap .prev:hover, .player-wrap .next:hover {
  background-color: #444;
  transition: all .35s;
}
.player-wrap .playpause, .player-wrap .play, .player-wrap .pause, .player-wrap .prev::-moz-focus-inner, .player-wrap .next::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.player-wrap .timer {
  left: 3em;
  width: 6em;
  color: #f95701;
  font-size: 1.3rem;
  transition: all .35s;
}
.player-wrap .timer div {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  transition: all .35s;
}
.player-wrap .seek {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  float: right;
  transition: all .35s;
}

.playlist-wrap li {
  margin: 0 0 0 3em;
  padding: 0.25em 0 0.25em 0.5em;
  list-style: decimal outside;
  transition: all .50s ease;
}
.playlist-wrap li.sel {
  background-color: #f95701;
  color: #333 !important;
  transition: all .50s ease;
}
li.sel>a, li.sel span a{
  color: white !important;
}
.playlist-wrap li:hover {
  background-color: rgba(249, 87, 1, 0.2);
  transition: all .50s ease;
}

/* >> input[type=range] class: seek */
input.seek[type=range] {
  box-sizing: border-box;
  background-color: transparent;
  vertical-align: top;
  font-size: 1em;
  -webkit-appearance: none;
  transition: all 1s ease;
}
input.seek[type=range]:focus {
  outline: none;
}
input.seek[type=range]::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 98%;
  height: 0.17em;
  background-color: #eee;
  cursor: pointer;
  border-radius: 0.1em;
  transition: all 1s ease;
}
input.seek[type=range]::-webkit-slider-thumb {
  box-sizing: border-box;
  width: 0.17em;
  height: 0.7em;
  margin-top: -0.27em;
  border-radius: 0.1em;
  background-color: #eee;
  cursor: pointer;
  -webkit-appearance: none;
}
input.seek[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #eee;
}
input.seek[type=range]::-moz-range-track {
  box-sizing: border-box;
  border: 0 solid #eee;
  width: 98%;
  height: 0.17em;
  background-color: #eee;
  cursor: pointer;
  border-radius: 0.1em;
  transition: all 1s;
}
input.seek[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  border: 0 solid #eee;
  width: 0.17em;
  height: 0.7em;
  background-color: #eee;
  cursor: pointer;
  border-radius: 0.1em;
}
input.seek[type=range]::-ms-track {
  box-sizing: border-box;
  border: 0 none;
  width: 98%;
  height: 0.17em;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  transition: all 1s;
}
input.seek[type=range]::-ms-fill-lower, input.seek[type=range]::-ms-fill-upper {
  background-color: #eee;
  border-radius: 0.1em;
}
input.seek[type=range]::-ms-thumb {
  margin-top: -0.01em;
  box-sizing: border-box;
  width: 0.17em;
  height: 0.7em;
  background-color: #eee;
  cursor: pointer;
  border-radius: 0.1em;
}
input.seek[type=range]:focus::-ms-fill-lower, input.seek[type=range]:focus::-ms-fill-upper {
  background-color: #eee;
  transition: all 1s;
}

/* << input[type=range] class: seek */

/*# sourceMappingURL=audio.css.map */


/*FOR E SHORE CART*/