/* >> reset */

html, body, div, span, h1, p, a, ol, li, audio {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    list-style: decimal outside;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 5px 0;
  background: #111 none;
  font: 20px/24px 'Helvetica', 'Arial', sans-serif;
  color: #eee;
}

a {
  text-decoration: none;

  &:focus, &:active, &:hover, &:visited {
    text-decoration: none;
  }

  &[href] {
    color: #ddd;
    outline: 0 none;
    text-decoration: underline;

    &:active, &:visited {
      color: #ddd;
      outline: 0 none;
      text-decoration: underline;
    }

    &:hover, &:focus {
      color: #bbb;
    }
  }
}

/* << reset */

/* page style */

.page {
  position: relative;
  margin: 0 auto;
  width: 70%;
  min-width: 300px;
  max-width: 700px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Audio Player */

.player-wrap {
  position: relative;
  margin: 0 0 1em;
  padding: 0;
  background-color: #222;

  &.enabled {
    padding-bottom: 4em;
  }

  .button {
    float: left;
    display: none;
    margin: 1.5em 2em;
    width: 5em;
    height: 5em;
    background-color: #333;
    line-height: 5em;
    text-align: center;
    border-radius: 25%;

    &:hover {
      background-color: #444;
      cursor: pointer;
    }
  }

  &.enabled .button {
    display: block;
  }

  .info {
    margin-left: 10em;
  }

  h1 {
    padding: 1.5em 0;
  }

  .action {
    font-style: italic;
  }

  .player {
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    padding: 0 1em 0 6em;
    width: 100%;
    height: 1em;
    background-color: #333;
    font-size: 2em;
    box-sizing: border-box;
  }

  &.enabled .player {
    display: block;
  }

  .player {
    svg {
      margin: .25em;
      width: .5em;
      height: .5em;
      fill: currentColor;
    }

    div {
      display: block;
      height: 1em;
    }
  }

  audio, .player .pause {
    display: none;
  }

  .playpause, .timer, .prev, .next {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 1em;
    line-height: 1em;
    vertical-align: top;
    text-align: center;
  }

  .playpause, .prev, .next {
    width: 1em;
    cursor: pointer;
  }

  .playpause {
    left: 1em;
  }

  .next {
    left: auto;
    right: 0;
  }

  .playpause:hover, .prev:hover, .next:hover {
    background-color: #444;
  }

  .playpause, .play, .pause, .prev::-moz-focus-inner, .next::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .timer {
    left: 2em;
    width: 4em;

    div {
      display: inline-block;
      height: 100%;
      vertical-align: top;
      font-size: .45em;
    }
  }

  .seek {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

.playlist-wrap {
  background-color: #222;

  li {
    margin: 0 0 0 3em;
    padding: .25em 0 .25em .5em;
    list-style: decimal outside;

    &.sel {
      background-color: #333;
    }

    &:hover {
      background-color: #444;
    }
  }
}

/* >> input[type=range] class: seek */

input.seek[type=range] {
  box-sizing: border-box;
  background-color: transparent;
  vertical-align: top;
  font-size: 1em;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    box-sizing: border-box;
    width: 98%;
    height: .17em;
    background-color: #eee;
    cursor: pointer;
    border-radius: .1em;
    transition: all .2s ease;
  }

  &::-webkit-slider-thumb {
    box-sizing: border-box;
    width: .17em;
    height: .7em;
    margin-top: -.27em;
    border-radius: .1em;
    background-color: #eee;
    cursor: pointer;
    -webkit-appearance: none;
  }

  &:focus::-webkit-slider-runnable-track {
    background-color: #eee;
  }

  &::-moz-range-track {
    box-sizing: border-box;
    border: 0 solid #eee;
    width: 98%;
    height: .17em;
    background-color: #eee;
    cursor: pointer;
    border-radius: .1em;
    transition: all .2s ease;
  }

  &::-moz-range-thumb {
    box-sizing: border-box;
    border: 0 solid #eee;
    width: .17em;
    height: .7em;
    background-color: #eee;
    cursor: pointer;
    border-radius: .1em;
  }

  &::-ms-track {
    box-sizing: border-box;
    border: 0 none;
    width: 98%;
    height: .17em;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    transition: all .2s ease;
  }

  &::-ms-fill-lower, &::-ms-fill-upper {
    background-color: #eee;
    border-radius: .1em;
  }

  &::-ms-thumb {
    margin-top: -.01em;
    box-sizing: border-box;
    width: .17em;
    height: .7em;
    background-color: #eee;
    cursor: pointer;
    border-radius: .1em;
  }

  &:focus {
    &::-ms-fill-lower, &::-ms-fill-upper {
      background-color: #eee;
    }
  }
}

/* << input[type=range] class: seek */