/*@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-size: 1.01em;
}
.nav-link{
    color: #0b0b0b;
    text-transform: capitalize;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: .8rem;
    padding-left: .5rem;
}
li.nav-item:hover{
    color: #1e4ba4;
    transition: all 500ms ease;
    border-bottom: 3px solid #1e4ba4;
}
a{
    color: #000000 !important;
}
a:not([href]):not([tabindex]){
    color: black;
}
.btn.btn-primary:hover {
    border: 1px solid #0056b3;
    background: #154982 !important;
    color: #ffffff;
}
.form-control:focus{
    color: #4b515d;
    border: 1px solid #154982;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.rotateicon{
    transform: rotate(90deg);
}
.dropdown-item{
    text-transform: capitalize;
}
i.fas.fa-bars{
    color: #0b0b0b;
}
/* GENERAL BUTTON STYLING */
span.icon-play{
    color: #ed4b22;
}
button,
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button {
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1em;
    padding: .5em;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}

button::before,
button::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}
button:hover {
    color: #ed4b22;
}
button.donatebtn{
    border-color: #ed4b22;
    color: #ed4b22;
}
button.donatebtn:hover{
    color: #c53916;
    border-color: #c53916;
    transform: scale(1);
    cursor: pointer;
}
button.tithebtn:hover {
    color: rgb(11, 122, 112) !important;
    transform: scale(1);
}
button.directionbtn{
    border: 3px solid #0056b3;
    color: #0056b3;
}
button.directionbtn:hover{
    border: 3px solid #fff;
}
button.alldonorbtn{
    border: 3px solid #0056b3;
    color: #0056b3;
}
button.alldonorbtn:hover{
    border: 3px solid #fff;
}
.btn-5 {
    overflow: hidden;
}

.btn-5::after {
    /*background-color: #f00;*/
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}

.btn-5:hover:after {
    height: 100%;
    width: 135%;
}
.carousel-caption-custom{
    position: absolute;
    display: block;
    left: 10%;
    right: 10%;
}
h3.service-time{
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #0056b3;
}
.img.img-about.align-self-stretch {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
img.card-img-top.homecard {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img.card-img-top.homecard:hover{
    transform: none;
}
a.nav-link.bg-white.p-3.position-absolute {
    bottom: 10%;
    left: 5%;
    border-radius: 5px;
}
a.nav-link.bg-white.p-3.position-absolute:hover{
    transform: scale(0.98);
}

.footer{
    clear:both;
    position:relative;
    bottom:0;
    width: 100%;
    padding: 10px;
}
.card-img-top{
    transform: none;
    transition: all ease-in-out 500ms;
}
.card-img-top:hover{
    cursor: pointer;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    transition: all ease-in-out 500ms;
}
/*Minister*/
.heading {
    font-weight: 700;
    color: #5d4267;
}

.card.colorful-card .testimonial-card .card-up {
    height: 95px;
}
.card.colorful-card .testimonial-card .avatar {
    border: 3px solid #fff !important;
}
.card.booking-card {
    background-color: #c7f2e3;
}
.card.booking-card .fa {
    color: #f7aa00;
}
.card.booking-card .card-body .card-text {
    color: #db2d43;
}
.card.card.booking-card .chip {
    background-color: #87e5da;
}
.card.booking-card .card-body hr {
    border-top: 1px solid #f7aa00;
}
.mimosa {
    background-color: #F0C05A;
}
.fuchsia-rose-text {
    color: #db0075;
}
.aqua-sky-text {
    color: #5cc6c3;
}
.mimosa-text {
    color: #F0C05A;
}
.list-inline-item .fas, .list-inline-item .far {
    font-size: .8rem;
}
.chili-pepper-text {
    color: #9B1B30;
}
.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}
.card-wrapper.card-action {
    min-height: 400px;
}
.pastorcard{
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.pastorcard:hover{
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    filter: drop-shadow(0 0 0.75rem #d8dfe0);
}
img.card-img-top.pastors{
    width: 100%;
    height: 232px;
    object-fit: cover;
}
.offering{
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tithe{
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.donation{
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.firstfruit{
    background: #3fb93e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #54c72e, #b98b0a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #54c72e, #b98b0a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card .card-image i {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    font-size: 4rem;
    left: 15rem;
    color: rgba(255,255,255,.2);
    transition: .15s all ease;
}
input#givebtn {
    font-size: 1.4rem;
}
.ftco-section-3 .overlay{
    background-color: transparent !important;
}
/*STORE STYLE*/
.c_review {
    margin-bottom: 0
}

.c_review li {
    margin-bottom: 16px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e8e8e8
}

.c_review li:last-child {
    margin: 0;
    border: none
}

.c_review .avatar {
    float: left;
    width: 80px
}

.c_review .comment-action {
    float: left;
    width: calc(100% - 80px)
}

.c_review .comment-action .c_name {
    margin: 0
}

.c_review .comment-action p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 95%;
    display: block
}

.product_item:hover .cp_img {
    top: -10px
}

.product_item:hover .cp_img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

.product_item:hover .cp_img .hover {
    display: block
}

.product_item .cp_img {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -khtml-transform: translate(-50%);
    width: 100%;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

.product_item .cp_img img {
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    height: 400px;
    object-fit: cover;
}

.product_item .cp_img .hover {
    display: none;
    text-align: center;
    margin-top: 2px;
}

.product_item .product_details {
    /*padding-top: 1%;*/
    text-align: center
}

.product_item .product_details h5 {
    margin-bottom: 5px
}

.product_item .product_details h5 a {
    font-size: 16px;
    color: #444
}

.product_item .product_details h5 a:hover {
    text-decoration: none
}

.product_item .product_details .product_price {
    margin: 0
}

.product_item .product_details .product_price li {
    display: inline-block;
    padding: 0 10px
}

.product_item .product_details .product_price .new_price {
    font-weight: 600;
    color: #ff4136
}

.product_item_list table tr td {
    vertical-align: middle
}

.product_item_list table tr td h5 {
    font-size: 15px;
    margin: 0
}

.product_item_list table tr td .btn {
    box-shadow: none !important
}

.product-order-list table tr th:last-child {
    width: 145px
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.preview .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.preview .preview-thumbnail.nav-tabs {
    margin-top: 15px;
    font-size: 0
}

.preview .preview-thumbnail.nav-tabs li {
    width: 20%;
    display: inline-block
}

.preview .preview-thumbnail.nav-tabs li nav-link img {
    max-width: 100%;
    display: block
}

.preview .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 2px;
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important
}

.preview .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0
}

.preview .tab-content {
    overflow: hidden
}

.preview .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.details .rating .stars {
    display: inline-block
}

.details .sizes .size {
    margin-right: 10px
}

.details .sizes .size:first-of-type {
    margin-left: 40px
}

.details .colors .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px
}

.details .colors .color:first-of-type {
    margin-left: 20px
}

.details .colors .not-available {
    text-align: center;
    line-height: 2em
}

.details .colors .not-available:before {
    font-family: Material-Design-Iconic-Font;
    content: "\f136";
    color: #fff
}
.color-1{
    background: #ed4b22;
}
.color-1:hover{
    color: #fff;
}
.carousel-cell.item{
    width: 28%;
}
.carousel {
    background: #FAFAFA;
}
.profile-img{
    width: 100px;
}

.flickity-page-dots{
    display: none;
}
.carousel-cell {
    margin: auto;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    /*counter-increment: carousel-cell;*/
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    /*content: counter(carousel-cell);*/
    line-height: 200px;
    font-size: 80px;
    /*color: white;*/
}


@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.cart-page .cart-table tr th:last-child {
    width: 145px
}

.cart-table .quantity-grp {
    width: 120px
}

.cart-table .quantity-grp .input-group {
    margin-bottom: 0
}

.cart-table .quantity-grp .input-group-addon {
    padding: 0 !important;
    text-align: center;
    background-color: #1ab1e3
}

.cart-table .quantity-grp .input-group-addon a {
    display: block;
    padding: 8px 10px 10px;
    color: #fff
}

.cart-table .quantity-grp .input-group-addon a i {
    vertical-align: middle
}

.cart-table .quantity-grp .form-control {
    background-color: #fff
}

.cart-table .quantity-grp .form-control+.input-group-addon {
    background-color: #1ab1e3
}

.ec-checkout .wizard .content .form-group .btn-group.bootstrap-select.form-control {
    padding: 0
}

.ec-checkout .wizard .content .form-group .btn-group.bootstrap-select.form-control .btn-round.btn-simple {
    padding-top: 12px;
    padding-bottom: 12px
}

.ec-checkout .wizard .content ul.card-type {
    font-size: 0
}

.ec-checkout .wizard .content ul.card-type li {
    display: inline-block;
    margin-right: 10px
}

/*USER PROFILE*/
img.mr-4.product {
    width: 100px;
}
.event-section{
    background: #efefef;
    min-height: calc(100vh - 70px);
}
.sec-title{
    font-size: 56px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 1.4;
}
h1.display-4.event-date {
    color: #af0d0f;
}

li.count-day {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    text-transform: uppercase;
}

li.count-day span {
    display: block;
    font-size: 1.5rem;
    color: #af0d0f;
    font-weight: 700;
}
img.outreaches{
    width:100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}
.home-outreaches{
    height: 200px !important;
}
