<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
		<clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="_users" />
                    <add segment="_includes" />
                </hiddenSegments>
            </requestFiltering>
        </security>
	</system.webServer>
	<location>
	    <system.webServer>
			<staticContent>
				<clientCache cacheControlMaxAge="1.00:00:00" cacheControlMode="UseMaxAge"/>
			</staticContent>
		</system.webServer>
	</location>
</configuration>
